.intro {
  color: $color-dark-s;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 42px;
    @media (max-width: $size-tablet) {
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
    }
  }
  &__content {
    max-width: 460px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 42px;
    @media (max-width: $size-tablet) {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }
  }
  &__heading {
    color: $color-light-xl;
  }
  &__image {
    max-width: fit-content;
    width: 100%;
    @media (max-width: $size-tablet) {
      max-width: 230px;
    }
  }
}
