.header {
  background: $start-screen-gradient-background;
  &__top {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
