body {
  padding: 0;
  margin: 0;
  font-family: $font-primary;
  font-weight: $default-font-weight;
  color: $color-dark-xl;
  font-size: $default-font-size;
  position: relative;
  align-items: center;
}

.container {
  max-width: $size-main;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  @media (max-width: $size-tablet) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.img-res {
  width: 100%;
  display: flex;
}

.page-section {
  padding-top: 80px;
  padding-bottom: 80px;
  @media (max-width: $size-tablet) {
    padding-top: 42px;
    padding-bottom: 42px;
  }
  &_grey {
    background-color: $color-light-l;
  }
}
