.heading {
  font-family: $font-secondary;
  font-weight: $default-font-weight;
  color: $color-dark-l;
  line-height: 130%;
  font-size: 44px;
  margin: 0;
  @media (max-width: $size-tablet) {
    font-size: 33px;
  }
  &_secondary {
    font-size: 35px;
    max-width: 370px;
    letter-spacing: 2.1px;
    @media (max-width: $size-tablet) {
      font-size: 25px;
    }
  }
  &_medium {
    font-size: 20px;
    line-height: 115%;
  }
  &_small {
    font-size: 15px;
    line-height: 110%;
  }
}

.paragraph {
  margin: 0;
  line-height: 160%;
  &_small {
    font-size: 12px;
    line-height: 150%;
    color: $color-dark-m;
  }
}
