// Backgrounds-images

$header-bg: url("../images/header/header-bg.png");

// Color Styles

$color-light-xl: #ffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

// Gradients

$start-screen-gradient-background: $header-bg,
  radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%) #211f20;
$footer-gradient-background: lightgray 0% 0% / 110.00000238418579px
    110.00000238418579px repeat,
  radial-gradient(549.89% 73.65% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
  #211f20;

// Fonts

$font-primary: "Arial", sans-serif;
$font-secondary: "Georgia", sans-serif;
$default-font-weight: 400;
$default-font-size: 15px;
$default-line-height: 160%;

// Display Sizes

$size-main: 1280px;
$size-tablet: 768px;
$size-mobile: 425px;
